<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div th:fragment="parent(content)">
        <h2>Parent Fragment</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde qui adipisci ea magnam impedit laudantium distinctio eum id animi itaque!</p>

        <h2>Another content in parent data</h2>
        <div th:replace="${content}"></div>
    </div>

    <div th:fragment="test">
        <h2>This is testing fragment</h2>
        <button>Test</button>
    </div>

</body>
</html>